version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: api
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - mongo


  service:
    build:
      context: .
      dockerfile: service/Dockerfile
    container_name: service
    ports:
      - "8100:8100"
    env_file: .env
    depends_on:
      - mongo


volumes:
  mongo_data:
