services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - ./mongo:/app/mongo
    environment:
      - MONGO_INITDB_DATABASE=main_db


  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: api
    ports:
      - "8000:8000"
    env_file: .env
    depends_on:
      - mongo


  service:
    build:
      context: .
      dockerfile: service/Dockerfile
    container_name: service
    ports:
      - "8100:8100"
    env_file: .env
    depends_on:
      - mongo


volumes:
  mongo_data:
